html
{
    height: 100%;
}

body
{
	height: 100%;
}

[data-title]
{
	position: relative;
}

[data-title]:hover::after
{
	content: attr(data-title);
	position: absolute;
	top: -30px;
	right: 10px;
	border: 1px solid black;
	padding: 7px 30px;
	background-color: #c4c4c4;
	font-size: 12px;
}

.page
{
	height: 100%;
	width: 84%;
	float:left;
}

#inventory
{
	height: 100%;
	width: 13%;
	float: left;
	border: 1px solid black;
	text-align: center;
}

.nav_button
{
	border: 1px solid black;
	font-family: 'Courier New';
	font-weight: bold;
	padding: 7px 30px;
}

.nav_button_active
{
	border: 1px solid black;
	font-family: 'Courier New';
	font-weight: bold;
	padding: 7px 30px;
	background-color:#eff49c;
}

.navigation
{
	width: 84%;
	text-align: center;
	padding: 10px 0px;
}

.farm_section
{
	width: 100%;
	padding: 10px;
	display: none;
}

.images
{
	padding-left: 25px;
	padding-right: 25px;
}

.veggie_div
{
	width: 110px; 
	text-align: center; 
	float: left;
	padding-left: 32px;
}

.star_img
{
	position: relative;
	display: inline-block;
	padding-left: 200px;
}

.star
{
	position:absolute;
	right: 12px;
	bottom: 17px;
}